.App {
  text-align: center;
  margin-top: 10vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-box {
  width: 35%;
  padding: 10px;
  font-size: 16px;
  border: 1.5px solid #000;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #282c34;
  color: white;
  cursor: pointer;
}

.button:hover {
  opacity: .8;
}

.button + .button {
  margin-left: 10px;
}

.results {
  margin-top: 10px;
  font-size: 16px;
}

.caption {
  width: 40%;
  margin: 20px auto;
  text-align: center;
}

.analyzed-image {
  width: 40%;
  border: 2px solid #000;
  border-radius: 4px;
  margin-top: 10px;
}